{% load static %}
<html>
<title>MySite</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://images.unsplash.com/photo-1460893330858-0c301e67cacf?ixlib=rb-0.3.5&s=21e94054ae475f0adc637fedf9280fd4&auto=format&fit=crop&w=1504&q=80');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>

<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p>Home Page</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-grey">Customer List</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge" id="dt_time"></p>
  </div>
</div>
<!-- Menu Modal -->
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Starters</h1>
    </div>
    <div class="w3-container">
      {% block content %}
      {% endblock content %}
    </div>
</div>

</body>
</html>

